

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



body {
    /*font-family: 'Open Sans', sans-serif;*/
    padding-top: 50px;
    padding-bottom: 20px;
}
#editor { 
	width: 500px;
	height: 300px;
}
.paragraph{
    font-size: 1.1em;
    margin-bottom: 1em;
}













