

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



body {
    /*font-family: 'Open Sans', sans-serif;*/
    padding-top: 50px;
    padding-bottom: 20px;
}

.carousel-inner{
	background-color: #333;
	height: 500px;
	width: 100%;
	color: white;
}

.carousel-inner .item {
	margin-left: 15%;
	margin-top: 10%;
	font-size: 1.2em;
}

#editor { 
	width: 500px;
	height: 300px;
}
.paragraph{
    font-size: 1.1em;
    margin-bottom: 1em;
}













